= render "shared/header"
%nav.breadCrumbs
  %ul
    %li
      = link_to "メルカリ", root_path
    %li
      = fa_icon "angle-right"
    %li
      = link_to " マイページ", user_path(current_user)
    %li
      = fa_icon "angle-right"
    %li
      %p 出品した商品 - 取引中
.main
  .contents
    = render "leftcontent"
    .rightContent
      %h2.listingsHeader 出品した商品
      %ul.listingsTab
        %li.tabItem
          = link_to "出品中", listings_user_path(current_user)
        %li.tabItem.active
          = link_to "取引中", "#"
        %li.tabItem
          = link_to "売却済", completed_user_path(current_user)
      - if @products.empty?
        %ul.itemNotFound
          %li.itemNotFound__text 取引中の商品がありません
      - else
        %ul.itemLists
          = render partial: "users/review", collection: @products, as: "product"
= render "shared/banner"
= render "shared/footer"
= render "shared/purchaseBtn"
