= render "shared/header"
%nav.breadCrumbs
  %ul
    %li
      = link_to "メルカリ", root_path
    %li
      = fa_icon "angle-right"
    %li
      %p マイページ
.main
  .contents
    = render "leftcontent"
    .rightContent
      .contentTop
        .mypageIcon
          = link_to "#" do
            %figure
              = image_tag("member_photo_noimage_thumb.png", size: "60x60")
            %h2 #{@user.nickname}
          %ul.mypageNum
            %li
              評価
              %span
              0
            %li
              出品数
              %span
              0
        %ul.mypageTabs
          %li
            %h3
              = link_to "お知らせ", "#"
          %li
            %h3
              = link_to "やることリスト", "#"
        .tabContent
          %ul
            %li
            %li
            %li
            %li
              = link_to "一覧を見る", "#", class: "mypageBtn"
      .contentBottom
        %h2 購入した商品
        %ul.mypageTabs
          %li
            %h3
              = link_to "取引中", "#"
          %li
            %h3
              = link_to "過去の取引", "#"
        .tabContent
          %ul
            %li
            %li
            %li
            %li
              = link_to "一覧を見る", "#", class: "mypageBtn"
= render "shared/banner"
= render "shared/footer"
= render "shared/purchaseBtn"
