%footer.pcFooter
  %ul.contents
    %li.content
      %h2.content__head メルカリについて
      %ul
        %li
          = link_to "会社概要（運営会社）", "https://about.mercari.com/"
        %li
          = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
        %li
          = link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
        %li
          = link_to "メルカリ利用規約・優勝ポイントに関する特約", "https://www.mercari.com/jp/tos_paid_point/"
        %li
          = link_to "コンプライアンスポリシー","https://www.mercari.com/jp/compliance/"
        %li
          = link_to "個人データの安全管理に係る基本方針", "https://www.mercari.com/jp/data_security/"
        %li
          = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
        %li
          = link_to "資金決済法に基づく表示", "https://www.mercari.com/jp/shikin_kessai/"
        %li
          = link_to "法令遵守と犯罪防止のために", "https://about.mercari.com/csr/safety/"
        %li
          = link_to "採用情報", "https://www.mercari.com/jp/jobs/"
        %li
          = link_to "メルカリアッテ", "https://www.mercariatte.com/jp/"
    %li.content
      %h2.content__head メルカリを見る
      %ul
        %li
          = link_to "カテゴリー一覧", ""
        %li
          = link_to "ブランド一覧", ""
        %li
          = link_to "出品地域一覧", ""
        %li
          = link_to "公式Twitter", "https://twitter.com/mercari_jp"
        %li
          = link_to "公式Facebook", "https://www.facebook.com/mercarijp"
    %li.content
      %h2.content__head ヘルプ＆ガイド
      %ul
        %li
          = link_to "メルカリガイド", "https://www.mercari.com/jp/help_center/"
        %li
          = link_to "メルカリロゴ利用ガイドライン", "https://www.mercari.com/jp/logo-guidelines/"
        %li
          = link_to "お知らせ", "https://about.mercari.com/press/news/"
        %li
          = link_to "らくらくメルカリ便とは", "https://www.mercari.com/jp/rakuraku-mercari/"
        %li
          = link_to "ゆうゆうメルカリ便とは", "https://www.mercari.com/jp/yuyu-mercari/"
        %li
          = link_to "大型らくらくメルカリ便とは", "https://www.mercari.com/jp/rakuraku-ogata/"
        %li
          = link_to "車体取引ガイド", "https://www.mercari.com/jp/guide/car/"
        %li
          = link_to "返品・返金ガイド", "https://www.mercari.com/jp/refund-returns/"
        %li
          = link_to "メルカリあんしん・あんぜん宣言！", "https://www.mercari.com/jp/safe/description/"
        %li
          = link_to "偽ブランド品撲滅への取り組み", "https://www.mercari.com/jp/authenticity/"
        %li
          = link_to "メルカリボックス", "https://www.mercari.com/jp/box/"
    %li.content.content--last
      %h2.content__head 国
      %ul
        %li.icon
          = link_to "https://www.mercari.com/" do
            = image_tag("united-states.svg", size: "22x22")
            %span United States
        %li.icon
          = link_to "https://www.mercari.com/uk/" do
            = image_tag("united-kingdom.svg", size: "22x22")
            %span United Kingdom
        %li.icon
          = link_to root_path do
            = image_tag("japan.svg", size: "22x22")
            %span 日本
  = link_to image_tag("logo-white.svg", size: "124x33"),root_path
  %p © 2018 Mercari
